// Main setting

.car-groups-container {
  padding: 34px 78px 48px 80px;
  p {
    text-align: center;
  }
}

.car-box {
  width: 192px;
  padding: 0;
  margin-right: 33px;
  margin-bottom: 18px;
  cursor: pointer;
  &:hover{
    .car-image {
      border: 1px solid $lazur;
    }
    .car-group {
      background-color: $lazur;
    }
    .car-group-text {
      color: $white;
    }
    .car-price {
      background-color: $search_bg;
    }
    .car-price-text {
      color: $white;
    }
    .car-price-cost {
      color: $white;
    }

  }
}

// Cars

.car-image {
  width: 192px;
  height: 76px;
}

.car-image-a {
  background-image: url(../images/reservation/group-a.png);
  background-repeat: no-repeat;
}

.car-image-b {
  background-image: url(../images/reservation/group-b.png);
  background-repeat: no-repeat;
}

.car-image-a {
  background-image: url(../images/reservation/group-a.png);
  background-repeat: no-repeat;
}

.car-image-c {
  background-image: url(../images/reservation/group-c.png);
  background-repeat: no-repeat;
}

.car-image-c-plus {
  background-image: url(../images/reservation/group-c+.png);
  background-repeat: no-repeat;
}

.car-image-d {
  background-image: url(../images/reservation/group-d.png);
  background-repeat: no-repeat;
}
.car-image-d-plus {
  background-image: url(../images/reservation/group-d+.png);
  background-repeat: no-repeat;
}

.car-image-premium {
  background-image: url(../images/reservation/group-premium.png);
  background-repeat: no-repeat;
}

.car-image-sport {
  background-image: url(../images/reservation/group-sport.png);
  background-repeat: no-repeat;
}

.car-image-suv {
  background-image: url(../images/reservation/group-suv.png);
  background-repeat: no-repeat;
}

// Car group

.car-group {
  background-color: $white;
}

.car-group-text {
  font-size: 16px;
  font-weight: 600;
  color: $lazur;
}

// Car price

.car-price {
  padding-bottom: 6px;
}

.car-price-text {
  font-size: 13px;
  font-weight: 400;
  padding-top: 4px;
  color: $dark-font;
}

.car-price-cost {
  font-size: 24px;
  font-weight: 800;
}
