.car-reservation-container {
  margin-top: 11px;
  padding-bottom: 9px;
  border-bottom: 2px dotted $light-gray;
  h2 {
    margin: 0;
    margin-bottom: 13px;
    font-size: 26px;
    font-weight: 700;
    color: $auth-font;
  }
  span {
    margin-left: 32px;
  }
}

.car-img {
  background-image: url(../images/reservation/jaguar-1.png);
  background-repeat: no-repeat;
  width: 255px;
  height: 170px;
}

.feature-icons {
  padding-top: 12px;
}

.car-feature-icon {
  width: 100%;
  height: 27px;
  padding-top: 2px;
  background-repeat: no-repeat;
  margin-bottom: 3px;
}

.automat-icon {
  background-image: url(../images/reservation/automat.png);
}

.person-icon {
  background-image: url(../images/reservation/person.png);
}

.gasoline-icon {
  background-image: url(../images/reservation/gasoline.png);
}

.door-icon {
  background-image: url(../images/reservation/door.png);
}

.suitcase-icon {
  background-image: url(../images/reservation/suitcase.png);
}

.car-bail, .car-day-text {
  font-size: 14px;
  font-weight: 400;
  color: $car-font-text;
}

.car-bail {
  margin-top: 18px;
}

.car-day-price {
  font-size: 40px;
  font-weight: 800;
  color: $auth-font;
  margin-top: 21px;
  span {
    margin: 0;
  }
}

.car-book-btn {
  width: 161px;
  height: 101px;
  color: $auth-font;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $light-gray;
  border: 0;
  padding: 0;
  float: right;
  transition: all 300ms ease-in-out;
  &:hover {
    background-color: $lazur;
    color: $white;
  }
}
.car-select-change-btn {
  width: 161px;
  height: 211px;
  color: $auth-font;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $light-gray;
  border: 0;
  padding: 0 20px;;
  float: right;
  transition: all 300ms ease-in-out;
  &:hover {
    background-color: $lazur;
    color: $white;
  }
}


.btn-space {
  margin-bottom: 9px;
}
