.chart-container {
  padding: 39px 52px 36px 50px;
  background-color: $search_bg;
  p {
    font-size: 14px;
    font-weight: 400;
    color: $white;
  }
}

.chart-logo {
  background-image: url(../images/reservation/logo-blue-md.png);
  background-repeat: no-repeat;
  width: 567px;
  height: 33px;
  margin-top: 24px;
}

.chart-image {
  background-image: url(../images/reservation/path-chart.png);
  background-repeat: no-repeat;
  width: 1140px;
  height: 250px;
  margin-top: 40px;
}
