// Images
nav {
  .logo {
    background-image: url(../images/reservation/logo-blue-md.png);
    background-repeat: no-repeat;
  }

  .mail {
    background-image: url(../images/reservation/mail.png);
    background-repeat: no-repeat;
    width: 26px;
    height: 16px;
    margin-right: 10px;
  }

  .phone {
    background-image: url(../images/reservation/phone.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 22px;
    margin-right: 8px;
  }

  .mail-styles {
    margin-right: 36px;
    font-size: 14px;
    font-weight: 400;
    color: $light-gray;
    vertical-align: super;
  }

  .phone-styles {
    font-size: 14px;
    font-weight: 400;
    color: $light-gray;
    vertical-align: super;
  }

  .sub-nav-container {
    background: $light-gray;
    margin: 0;
    margin-bottom: 29px;
    padding: 0 50px;
    max-width: 100%;
    a {
      display: inline-block;
      padding: 10px 23px 10px 21px;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      text-transform: uppercase;
      color: $white;
      transition: all 300ms ease-in-out;
      &:hover, &:active, &:focus {
        text-decoration: none;
        color: $dark-font;
        background-color: $white;
        .path-path {
          background-image:url(../images/reservation/path-path-blue.png);
        }
      }
    }
  }
  // Home menu

  .home-menu {
    display: inline-block;
    .subhome-menu {
      display: none;
    }
    .home {
      display: inline-block;
      background-image: url(../images/reservation/home.png);
      background-repeat: no-repeat;
      width: 19px;
      height: 17px;
    }
    li {
      display: inline-block;
      padding: 9px 9px 8px;
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover {
        background-color: $white;
        .subhome-menu {
          display: inline-block;
          position: absolute;
          left: 50px;
          top: 39px;
          bottom: -177px;
          z-index: 1;
          background-color: $auth-input;
          a {
            text-transform: none;
            display: block;
            width: 100%;
            padding: 13px 15px 10px 23px;
            font-size: 15px;
            font-weight: 400;
            color: $dark-font;
            transition: all 0.5s ease;
            &:hover {
              background-color: $lazur;
              color: $white;
            }
          }
        }
      }
    }
  }

  // Price menu

  .sub-navbar-list {
    .price-list-menu {
      display: none;
    }
    li.price {
      display: inline-block;
      cursor: pointer;
      padding: 10px 23px 10px 21px;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      text-transform: uppercase;
      color: $white;
      transition: all 300ms ease-in-out;
      &:hover, &:active, &:focus {
        text-decoration: none;
        color: $dark-font;
        background-color: $white;
        .path-path {
          background-image:url(../images/reservation/path-path-blue.png);
        }
        .price-list-menu {
          display: inline-block;
          position: absolute;
          z-index: 1;
          top: 39px;
          right: 252px;
          left: auto;
          background-color: $auth-input;
          a {
            display: block;
            width: 168px;
            padding: 9px 26px 10px 21px;
            font-size: 15px;
            font-weight: 400;
            text-transform: none;
            color: $dark-font;
            cursor: pointer;
            transition: all 0.5s ease;
            &:hover {
              background-color: $lazur;
              color: $white;
            }
          }
        }
      }
    }
  }


  // Cars menu

  .sub-navbar-list {
    .mega-menu {
      display: none;
      a{
        margin:0;
        padding:0;
      }
    }

    li.cars {
      display: inline-block;
      cursor: pointer;
      padding: 10px 23px 10px 21px;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      text-transform: uppercase;
      color: $white;
      transition: all 300ms ease-in-out;
      &:hover, &:active, &:focus {
        text-decoration: none;
        color: $dark-font;
        background-color: $white;
        .path-path {
          background-image:url(../images/reservation/path-path-blue.png);
        }
        .mega-menu {
          display: inline-block;
          position: absolute;
          width: 100%;
          left: 0;
          top: 39px;
          z-index: 1;
          padding: 39px 79px;
          background-color: $white;
          .car-box-menu {
            .car-group-text {
              text-align: center;
            }
          }
        }
      }
    }
  }

}
