.information-reservation {
  border-top: 1px dotted $gray;
}



.white-row, .gray-row {
  font-size: 16px;
  line-height: 26px;
  color: $auth-font;
  padding: 0 12px 0;
}

.gray-row {
  background-color: $auth-input;
}

.white-row {
  background-color: $white;
}

.bold {
  font-weight: 700;
}
