.list-car-reservation-container {
  padding: 31px 50px 0 0;
  .pagination{
    margin:60px 0;

    li{
      a{
        &:hover{
            background:$lazur !important;
            color: $white;
        }
      }
      &.active{
        a{
          background:$lazur;
          color: $white;
        }
      }
    }
  }
}

.car-group-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  color: $lazur;
  padding-bottom: 22px;
  border-bottom: 2px dotted $light-gray;
}
