.car-price-container {
  margin: 39px 0 13px;;
  border-top: 1px dotted $light-gray;
  border-bottom: 1px dotted $light-gray;
  color: $auth-font;
}

.car-price-for {
  padding: 10px 3px 6px 51px;
  border-bottom: 1px dotted $light-gray;
  p {
    font-size: 14px;
    font-weight: 400;
  }
}

.car-price-car {
  padding: 10px 0 6px 51px;
  p {
    font-size: 46px;
    font-weight: 800;
  }
  div {

  }
}

.single-car-reservation-btn {
  float: right;
  width: 161px;
  height: 85px;
  font-size: 18px;
  font-weight: 700;
  color: $auth-font;
  text-transform: uppercase;
  margin: 0;
  border: 0;
  transition: all 300ms ease-in-out ;
  
  &:hover {
    background-color: $lazur;
    color: $white;
  }
}

.car-price-info-text {
  font-size: 14px;
  font-weight: 400;
  color: $car-font-text;
}
