.search-rent-container {
  padding: 20px 51px;
  margin-top: 12px;
  background-color: $search_bg;
  color: $white;
  ul {
    text-decoration: none;
    li {
      display: inline-block;
    }
  }
}

.rent {
  padding: 0;
  margin: 0;
  margin-bottom: 5px
}

.return {
  padding: 0;
  margin: 0;
  margin-top: 10px
}

// Texts

.inquiry-text {
  font-size: 30px;
  font-weight: 700;
}

.rent-text, .return-text  {
  font-size: 26px;
  font-weight: 700;
}

.rent-text {
  margin-right: 49px;
}

.return-text {
  margin-right: 89px;
}

.rent-date-text, .rent-time-text, .return-date-text, .return-time-text {
  font-size: 15px;
  font-weight: 600;
}

.extra-space {
  margin-right: 58px;
}

.rent-date-icon, .rent-time-icon, .return-date-icon, .return-time-icon {
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0 8px 9px;
}

.rent-date-icon, .return-date-icon {
  background-image: url(../images/reservation/date.png);
}

.rent-time-icon, .return-time-icon {
  background-image: url(../images/reservation/time.png);
}

.dotted-line {
  border-bottom: 2px dotted $gray;
}

.book-btn {
  width: 161px;
  height: 121px;
  float: right;
  background-color: $gray;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: none;
  &:hover {
    background-color: $lazur;
  }
}
