.sidebar-container  {
  padding-left: 55px;
  padding-top: 79px;
  padding-right: 78px;
  .car-check-box-wrapper {
    .checkbox-wrapper {
      display: inline-block;
    }
    span {
      color: $auth-font;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
    }
    label {
      cursor: pointer;
      input[type=checkbox] {
        display: none;
        // Insert the new checkbox
        + .checkbox-sm {
          background-image: url(../images/checkbox-bg.png);
          width: 23px;
          height: 23px;
          vertical-align: middle;
          display: inline-block;
          margin: 0 6px 0 0;
        }
        // When the checkbox is checked...
        &:checked + .checkbox-sm {
          display: inline-block;
          background-image: url(../images/reservation/checkbox-blue.png);
        }
      }
    }
  }
  .car-check-box-wrapper {
    padding: 33px  0;
    border-bottom: 2px dotted $light-gray;
  }

  .car-logo {
    position: relative;
    top: 17px;
    bottom: -17px;
    transform: translateY(-50%);
    float: right;
    margin-right: 10px;
    width: 77px;
    height: 77px;
    background-repeat: no-repeat;
  }

  .car-logo-audi {
    background-image: url(../images/reservation/audi-gray.png);
  }

  .car-logo-bmw {
    background-image: url(../images/reservation/bmw-gray.png);
  }

  .car-logo-ford {
    background-image: url(../images/reservation/ford-gray.png);
  }

  .car-logo-jaguar {
    background-image: url(../images/reservation/jaguar-gray.png);
  }

  .car-logo-land-rover {
    background-image: url(../images/reservation/land-rover-gray.png);
  }

  .car-logo-mercedes {
    background-image: url(../images/reservation/mercedes-gray.png);
  }

  .car-logo-porsche {
    background-image: url(../images/reservation/porsche-gray.png);
  }

}
