.reservation-car {
  padding: 34px 50px 110px;
  h1 {
    margin: 0 0 27px 0;
    font-size: 58px;
    font-weight: 700;
    color: $auth-font;
  }
  .single-car-slider-container {
    width: 540px;
    height: 360px;
    .slide {
      height: 360px;
    }
  }
  .tabel-two-container {
    border-top: 1px dotted $light-gray;
    padding-top: 6px;
  }
  .title {
    font-weight: 700;
  }
  .value {
    font-weight: 400;
  }
}
