.clear-bs {
  margin: 0;
  padding: 0;
}

.info-container {
  padding: 30px 49px 0 59px;
  h2 {
    font-size: 42px;
    font-weight: 700;
    color: $lazur;
  }
  h3 {
    margin: 0 0 16px;
    font-size: 20px;
    font-weight: 700;
    color: $auth-font;
    &:nth-of-type(2) {
      margin-top: 40px;
    }
  }
}

.terms {
  margin-bottom: 53px;
  span {
    margin-left: 12px;
    color: $light-gray;
  }
}

.last {
  margin-bottom: 59px;
}

// Icons

.pdf-icon {
  display: inline-block;
  background-image: url(../images/pdf-icon.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 49px;
  vertical-align: middle;
  cursor: pointer;
  &:hover {
      background-image: url(../images/reservation/pdf-icon-blue.png);
    }
}

.doc-icon {
  display: inline-block;
  background-image: url(../images/doc-icon.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 49px;
  vertical-align: middle;
  cursor: pointer;
  &:hover {
      background-image: url(../images/reservation/doc-icon-blue.png);
    }
}

.icon-space {
  margin-top: 5px;
}

.info-description {
  padding-bottom: 32px;
  padding-top: 19px;
  font-size: 16px;
  font-weight: 400;
  color: $gray;
  border-top: 1px dotted $light-gray;
}

/* Extra small devices (phones, less than 768px)*/

@media (max-width: $screen-xs-min) {

    .info-container {
      padding: 0 19px 0;
      h2 {
        margin-bottom: 10px;
        font-size: 32px;
      }
    }

    .terms {
      margin-bottom: 39px;
    }

    .last {
      margin-bottom: 59px;
    }

    // Icons

    .pdf-icon {
      width: 39px;
      height: 49px;
    }

    .doc-icon {
      width: 39px;
      height: 49px;
    }

    .icon-space {
      margin-top: 9px;
    }

    .info-description {
      padding-bottom: 17px;
      padding-top: 16px;
    }

  }


/* Small devices (tablets, 768px and up*/

@media (min-width: $screen-xs-min) and (max-width: $screen-md-min) {

  .info-container {
    padding: 28px 36px 0 35px;
    h2 {
      font-size: 46px;
      margin-bottom: 10px;
    }
  }

  .terms {
    margin-bottom: 59px;
    span {
      margin-left: 15px;
    }
  }

  // Icons

  .pdf-icon {
    width: 44px;
    height: 56px;
  }

  .doc-icon {
    width: 44px;
    height: 56px;
  }

  .icon-space {
    margin-top: 19px;
  }

  .info-description {
    padding-bottom: 30px;
    font-size: 18px;
  }

}

/* Medium devices (desktops, 992px and up)*/

@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {

  }

/* Large devices (large desktops, 1200px and up)*/

@media (min-width: $screen-lg-min) {

  }
