@import "home";
.reservation {
  @import "info";
}
.reservation {
  @import "contact";
}
@import "components/search";
@import "components/slider";
.reservation {
  @import "components/header";
}
@import "components/chart";
@import "components/carGroups";

@import "components/listCar";
@import "components/car";
@import "components/sidebar";

@import "components/shortPriceList/shortPriceList";
@import "components/shortPriceList/grid";
@import "components/shortPriceList/car";

@import "components/single-car";
@import "components/information";
@import "components/price";

@import "components/midRent/midRent";
@import "components/midRent/content";
@import "components/midRent/form";

@import "components/midPriceList/midPriceList";
@import "components/midPriceList/grid";
@import "components/midPriceList/car";

@import "components/reservation/reservation";
@import "components/reservation/step-1";
@import "components/reservation/step-2";
@import "components/reservation/step-3";
@import "components/reservation/step-4";
@import "components/reservation/step-5";
@import "components/reservation/buttons";
