nav {

  a {
    padding: 0;
  }
}
.logo {
  background-image: url(../images/home/logo-home-md.png);
  background-repeat: no-repeat;
  width: 401px;
  height: 41px;
  margin: 0 auto;
  float: none;
}

.main-navigation {
  margin-bottom: 29px;
}

.navbar-list {
  position: absolute;
  right: 50px;
  bottom: 40px;
}
