.mid-rent-content {
  margin-bottom: 96px;
  h1 {
    margin: 0 0 16px;
    font-size: 42px;
    font-weight: 700;
    color: $lazur;
  }
  p {
    margin: 0 0 70px;
    width: 80%;
    font-size: 14px;
    font-weight: 400;
    color: $auth-font;
  }
  ul {
    padding: 0 61px 0 31px;
    font-size: 16px;
    font-weight: 400;
    color: $auth-font;
    li {
      padding-bottom: 12px;
    }
  }
  .mid-rent-text {
    margin: 0 auto 15px;;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }

  .mid-rent-spacing {
    margin-bottom: 15px;
  }

  .mid-rent-step {
    width: 41px;
    height: 41px;
    margin: -20.5px auto 20px;
    font-size: 22px;
    font-weight: 700;
    color: $white;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    background-color: $lazur;
  }

  // Bootstrap modification

  .row {
    display: flex;
    flex-wrap: wrap;
    > [class*='col-'] {
      display: flex;
      flex-direction: column;
    }
  }

  // End of Bootstrap modification

  .mid-rent-wrapper {
    border-top: 2px solid $lazur;
    position: relative;
    &::after {
      content: " ";
      display: block;
      background: $lazur;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      right: -5px;
    }
    &::before {
      content: " ";
      display: block;
      background: $lazur;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      left: -4px;
    }
  }

  .mid-rent-box {
    border-bottom: 1px dotted $light-gray;
    &:nth-of-type(1) {
      border-left: 1px dotted $light-gray;
    }
    &:nth-of-type(2) {
      border-left: 1px dotted $light-gray;
      border-right: 1px dotted $light-gray;
    }
    &:nth-of-type(3) {
      border-right: 1px dotted $light-gray;
    }
  }

  .mid-rent-brands-wrapper {
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
  }

  .mid-rent-audi,
  .mid-rent-bmw,
  .mid-rent-ford,
  .mid-rent-jaguar,
  .mid-rent-land-rover,
  .mid-rent-mercedes,
  .mid-rent-porsche {
    background-repeat: no-repeat;
    width: 148px;
    height: 148px;
    // transition: border 300ms ease-in-out;
    &:hover {
      border: 2px solid $lazur;
    }
  }
  .mid-rent-audi {
    background-image: url(../images/reservation/midRent/audi.png);
  }
  .mid-rent-bmw {
    background-image: url(../images/reservation/midRent/bmw.png);
  }
  .mid-rent-ford {
    background-image: url(../images/reservation/midRent/ford.png);
  }
  .mid-rent-jaguar {
    background-image: url(../images/reservation/midRent/jaguar.png);
  }
  .mid-rent-land-rover {
    background-image: url(../images/reservation/midRent/land-rover.png);
  }
  .mid-rent-mercedes {
    background-image: url(../images/reservation/midRent/mercedes.png);
  }
  .mid-rent-porsche {
    background-image: url(../images/reservation/midRent/porsche.png);
  }

}
