.mid-rent-form {
  h2 {
    margin: 0;
    padding-bottom: 25px;
    border-bottom: 1px dotted $light-gray;
    font-size: 36px;
    font-weight: 700;
    color: $lazur;
  }
  .mid-rent-buttons {
    margin-top: 29px;
    .mid-rent-btn {
      margin-bottom: 7px;
      width: 194px;
      height: 33px;
      border: 0;
      background-color: $light-gray;
      color: $auth-font;
      font-size: 18px;
      font-weight: 700;
      transition: all 300ms ease-in-out;
      &:hover, &:active, &:focus, &.active {
        color: $white;
        background-color: $lazur;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 29px;
    label {
      padding: 0;
      margin-right: 13px;
      font-size: 15px;
      font-weight: 400;
      color: $auth-font;
    }
    input {
      margin-bottom: 6px;
      padding-left: 15px;
      width: 382px;
      height: 34px;
      border: 1px solid $input-border;
      background-color: $auth-input;
      &:focus {
        font-size: 15px;
        font-weight: 400;
        color: $auth-font;
        outline: 1px solid $lazur;
      }
    }
    textarea {
      width: 346px;
      height: 194px;
      background-color: $auth-input;
      padding: 14px 13px;
      border: 1px solid $input-border;
      &:focus {
        font-size: 15px;
        font-weight: 400;
        color: $auth-font;
      }
    }
  }
  input[type="submit"] {
    padding: 0;
    float: right;
    width: 345px;
    height: 37px;
    background-color: $light-gray;
    color: $auth-font;
    border: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    transition: all 300ms ease-in-out;
    &:hover {
      padding: 0;
      background-color: $lazur;
      color: $white;
    }
  }

  .add-file-wrapper {
    margin: 17px 0 0 70px;
    p {
      margin-bottom: 7px;
      font-size: 15px;
      font-weight: 400;
      color: $auth-font;
    }
    .rent-mid-add-file {
      background: url('../images/reservation/midRent/add-file.png') no-repeat;
      width: 33px;
      height: 33px;
      overflow: hidden;
      cursor: pointer;
      transition: all 300ms ease-in-out;
      &:hover, &:focus {
        background: url('../images/reservation/midRent/add-file-active.png') no-repeat;
      }
      input {
        display: block;
        width: 33px;
        height: 33px;
        opacity: 0;
        overflow: hidden;
        cursor: pointer;
        }
    }
  }



  .mid-rent-form-border {
    margin: 22px 0 19px;
    border: 1px dotted $light-gray;
  }
}
