/*
 * Typography
 * ========================================================================== */
$font-family-base:      'Lato', 'HelveticaNeue-Light', sans-serif; // overriding bootstrap variable
$lato: 'Lato';

/*
 * Layout
 * ========================================================================== */

$max-content-width:     1000px; // custom application variable


/*
 * Misc
 * ========================================================================== */
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/'; // overriding bootstrap variable


/*
 * Media queries breakpoints
 * ========================================================================== */


//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

/*
 * Animations
 * ========================================================================== */

$animation-swift-out:   .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;

/*
 * Colors
 * ========================================================================== */
$search_bg: #2a2d32;
$red: #fe5652;
$white: #fff;
$gray: #8a8b8e;
$light-gray: #bfc0c1;
$dark-font: #2a2d32;
$auth-input: #eaeaea;
$auth-font: #55575b;
$lazur: #5e96eb;
$home-gray: #c7c7c7;
$car-font-text: #706f6f;
$input-border: #d4d5d5;
