.announcementList{
  .numberOfPage{
    font-size:18px;
    line-height: 26px;
    font-weight: bold;
  }

  .sortbar{
    font-weight: bold;
    margin-bottom:30px;
    font-size:16px;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .announcementList{
    .sortbar{ 
      margin-top:38px;
      font-size:18px;
    }
  }
}
@media only screen and (max-width: $screen-xs-max) {
  .announcementList{
    .sortbar{ 
      margin-bottom:0px;
    }
  }
}