.auth-container {
  padding: 60px 49px 59px;
  h2 {
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-size: 42px;
    font-weight: 700;
    color: #00bcd4;
    border-bottom: 1px dotted $light-gray;
  }
  .auth-space {
    margin-top: 59px;
  }
  .remember-me {
    margin-left: 6px;
    vertical-align: super;
    font-size: 16px;
    font-weight: 400;
    color: $auth-font;
  }
  .auth-form-error{
    font-size:10px;
    color:$red;
  }
  // Inputs

  input:focus {
    outline: none;
    border: 1px solid $red;
    padding-left: 12px;
    font-size: 15px;
    font-weight: 400;
  }

  input[type=checkbox] {
    width: 23px;
    height: 23px;
    display: inline-block;
  }

  .auth-checkbox-consent {
    float: left;
  }

  .auth-input {
    display: block;
    height: 34px;
    background-color: $auth-input;
    border: 1px solid $light-gray;
  }

  .auth-login-input {
    width: 100%;
  }

  .auth-signup-input {
    width: 100%;
  }

  // Labels

  .consent {
    padding-left: 29px;
    padding-top: 20px;
  }

  .consent-text {
    margin-left: 30px;
    padding-top: 4px;
    vertical-align: super;
    font-size: 16px;
    font-weight: 400;
    color: $auth-font;
  }

  .auth-form-label {
    font-size: 18px;
    font-weight: 700;
    color: $auth-font;
    margin-bottom: 24px;
  }

  // Buttons

  .auth-btn {
    height: 37px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: $auth-font;
    background-color: $light-gray;
    border: 0;
    transition: all 300ms ease-in-out;
    &:hover {
      background-color: #00bcd4;
      color: $white;
    }
    &:focus {
      outline: none;
    }
  }

  .auth-login-btn {
    width: 100%;
    margin-top: 10px;
  }

  .auth-signup-btn {
    width: 100%;
    margin-top: 22px;
  }

  .password-forget {
    display: block;
    margin-top: 122px;
    padding-left: 29px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: $light-gray;
    transition: all 300ms ease-in-out;
    &:hover {
      text-decoration: none;
      color: $auth-font;
    }
  }
}

/* Extra small devices (phones, less than 768px)*/

@media (max-width: $screen-xs-min) {
  .auth-container {
    padding: 0 17px 60px;
    h2 {
      margin-bottom: 34px;
      padding-bottom: 20px;
      font-size: 42px;
    }
    .auth-space {
      margin-top: 39px;
    }
    .remember-me {
      margin-left: 6px;
      font-size: 18px;
    }
  }

  // Inputs

  input:focus {
    padding-left: 17px;
    font-size: 18px;
  }

  input[type=checkbox] {
    width: 37px;
    height: 37px;
  }

  .auth-checkbox-consent {
    float: left;
  }

  .auth-input {
    height: 44px;
  }

  // Labels

  .consent {
    padding-left: 0;
    padding-top: 30px;
  }

  .consent-text {
    margin-left: 50px;
    padding-top: 0;
    font-size: 18px;
  }

  .auth-form-label {
    font-size: 24px;
    margin-bottom: 28px;
  }

  // Buttons

  .auth-btn {
    height: 51px;
    font-size: 24px;
  }

  .auth-login-btn {
    margin-top: 28px;
  }

  .auth-signup-btn {
    margin-top: 28px;
  }

  .password-forget {
    margin-top: 20px;
    padding-left: 0;
    font-size: 18px;

  }
}

/* Small devices (tablets, 768px and up*/

@media (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
  .auth-container {
    padding: 50px 35px 94px;
    h2 {
      margin-bottom: 25px;
      padding-bottom: 10px;
      font-size: 46px;
    }
    .remember-me {
      margin-left: 6px;
      font-size: 20px;
    }
  }

  // Inputs

  input:focus {
    padding-left: 16px;
    font-size: 18px;
  }

  input[type=checkbox] {
    width: 43px;
    height: 43px;
  }

  .auth-input {
    height: 44px;
  }



  .auth-checkbox-consent {
    float: none;
  }

  // Labels

  .consent {
    padding-left: 39px;
    padding-top: 30px;
  }

  .consent-text {
    margin-left: 0;
    // padding-top: 4px;
  }

  .auth-form-label {
    font-size: 20px;
    margin-bottom: 23px;
  }

  // Buttons

  .auth-btn {
    height: 51px;
    font-size: 24px;
    font-weight: 700;
  }

  .auth-login-btn {
    margin-top: 28px;
  }

  .auth-signup-btn {
    margin-top: 48px;
  }

  .password-forget {
    margin-top: 140px;
    padding-left: 39px;
    font-size: 18px;
  }

}

/* Medium devices (desktops, 992px and up)*/

@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {

  }

/* Large devices (large desktops, 1200px and up)*/

@media (min-width: $screen-lg-min) {

  }
