.car-page{
  font-size:16px;
  margin-bottom: 50px;
  
  h2{
      border-top:1px dotted #8a8b8e;
      border-bottom:1px dotted #8a8b8e;
      font-size:32px;
      padding:15px 0;
  }
  h3{
    font-size:22px;
    font-weight: bold;
    text-transform: uppercase;
    margin:35px 0 17px 0;
  }
  .back-to-list{
    background: #bfc0c1;
    color:#55575b;
    border:0;
    outline: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size:16px;
    padding:4px 10px;
    .text{
      position: relative;
      top:-2px;
    }
    &:before{
      margin-right:15px;
      position: relative;
      top:2px;
      content:"";
      display: inline-block;
      border-right:10px solid #55575b;
      border-bottom:10px solid transparent;
      border-top:10px solid transparent;
    }
    &:hover{
      background: #fe5652;
      color:#fff;

      &:before{
        border-right:10px solid #ffffff;
      }
    }
  }
  .margin-top{
    margin-top: 10px;
  }

  .equipment-information-component{
    .background{
      background:#eaeaea;
      overflow: hidden;
      padding:5px 0;
    }
  }
}

@media only screen and (max-width: $screen-sm-max) {
}
@media only screen and (max-width: $screen-xs-max) {

}