.contact{
  h2{
    font-size:42px;
    font-weight: 700;
    color:$red;
    margin-bottom:47px;
  }
  input, textarea{
    width:100%;
    background:#eaeaea;
    font-size:15px;
    color:#8a8b8e;
    border:1px solid #cacacb;
    outline:0;
    padding:7px 12px;
    &:focus {
      outline: 2px solid $red;
    }
  }
  .form-row{
    margin-bottom:18px;
  }
  .error{
    color:$red;
    font-size:10px;
  }
  textarea{
    height:118px;
  }
  button{
    width:100%;
    background:$light-gray;
    font-size:18px;
    text-transform: uppercase;
    border:0px;
    color:$auth-font;
    padding: 5px 0;
    font-weight: bold;
    transition: all 300ms ease-in-out;

    &:hover{
      color:#fff;
      background:$red;

    }
  }
  form{
    margin-bottom:55px;
  }
  .box{
    margin-top:20px;
    &:first-child{
      margin:0;
    }
  }
}
