.mid-term-single-car {
  .mtpl-price-list-group {
    font-size: 42px;
    font-weight: 700;
    color: $lazur;
  }
  .mtpl-price-list-model {
    font-size: 24px;
    font-weight: 700;
  }
  .mtpl-price-list-text {
    font-size: 40px;
    font-weight: 800;
  }

  .mtpl-car-wrapper {
    display: flex;
    align-items: center;
    padding-top: 8px;
  }

  .mtpl-car-img {
    background-image: url(../images/reservation/midTermPriceList/car-a.png);
    background-repeat: no-repeat;
    float: left;
    width: 271px;
    height: 141px;
    overflow: hidden;
  }
}
