.mtpl-container {
  margin-top: 24px;
  padding-top: 13px;
  border-top: 1px dotted $light-gray;
  p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: $auth-font;
  }
}
.mtpl-border-wrapper {
  padding-bottom: 8px;
  border-bottom: 1px dotted $light-gray;
}
