.mid-term-price-list-container {
  padding: 31px 50px 128px;
  h1 {
    margin: 0 0 12px 0;
    font-size: 42px;
    font-weight: 700;
    color: $lazur;
  }
  h2 {
    margin: 0 0 24px;
    font-size: 36px;
    font-weight: 700;
    color: $lazur;
  }
  p, ul {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: $auth-font;
  }
  ul {
    padding: 0 0 0 17px;
    margin-bottom: 53px;
  }
}
