/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */


.icon{
    background-size:86px 115px;
    width: 86px;
    height: 115px;
    margin:52px auto 21px auto;
}
.root{
    h1{
        margin:0 auto 15px auto !important;
        color:  #ff5722;

    }
    button{
      margin: 0 auto;
      display: block;
    }
}
.text{
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin-bottom:45px;
    
    a{
        color:$third-color-font;
    }
}
.background{
    background-size:100px 100px;
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index: -1;
}
.content{
  overflow: hidden;
}

@media(min-width: $screen-sm-min){
  .root{
    h1{
      font-size:53px;
      line-height: 84px;
    }
    button{
      margin-bottom:50px;
      width: 434px;
      height: 83px;
      font-size: 24px;
    }
  }
  .icon{
    background-size:153px 204px;
    width: 153px;
    height: 204px;
    margin:52px auto 21px auto;
  }
  .text{
    font-size:19px;
    line-height: 22px;
  }
  
  .background{
    background-size:200px 200px;
  }
}

@media only screen and (min-width: $screen-md-min) and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
  .background{
    background-size:200px 200px;
  }
}