.home-content-container {
  padding: 0 50px 57px;
}

.home-content-sub-container {
  padding: 0 190px;
}

.home-box {
  padding: 31px 10px;
  background-color: $search_bg;
  width: 381px;
  margin: 0 auto;
  margin-top: 28px;
}

// Fonts
.home-content-container {
  h2 {
    margin-top: 53px;
    margin-bottom: 18px;
    padding-bottom: 26px;
    font-size: 32px;
    font-weight: 700;
    color: $dark-font;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px dotted $gray;
  }

  h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: $auth-font;
    text-transform: uppercase;
    text-align: center;
  }
}

.home-content-text {
  font-size: 16px;
  font-weight: 400;
  color: $auth-font;
  text-align: center;
  width: 318px;
  margin: 0 auto;
}

.rent-image-text, .sale-image-text {
  font-size: 20px;
  font-weight: 700;
  color: $white;
  width: 361px;
  padding: 9px 0 4px 15px;
  margin-bottom: 34px;
}

.rent-image-text {
  background-color: $lazur;
}

.sale-image-text {
  background-color: $red;
}

.home-rent-box-text-white, .home-sale-box-text-white {
  padding: 0 10px;
  color: $home-gray;
  font-size: 16px;
  font-weight: 400;
}

.home-rent-box-text-blue, .home-sale-box-text-red {
  padding: 15px 10px 50px;
  font-size: 20px;
  font-weight: 700;
}

.home-rent-box-text-blue {
  color: $lazur;
}

.home-sale-box-text-red {
  color: $red;
}

.home-open {
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px 0 11px 225px;
  font-size: 18px;
  font-weight: 700;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
}

.home-rent-open {
  transition: all 300ms ease-in-out;
  &:hover, &:active {
    color: $white;
    text-decoration: none;
    background-color: $lazur;
  }
}

.home-sale-open {
  transition: all 300ms ease-in-out;
  &:hover, &:active {
    color: $white;
    text-decoration: none;
    background-color: $red;
  }
}

// Images

.home-rent-icon, .home-sale-icon {
  background-repeat: no-repeat;
  width: 101px;
  height: 101px;
  margin: 0 auto;
}

.home-rent-icon {
  background-image: url(../images/home/rent-home.png);
}

.home-sale-icon {
  background-image: url(../images/home/sale-home.png);
}

.home-rent-logo, .home-sale-logo {
  background-repeat: no-repeat;
  width: 301px;
  height: 65px;
  margin: 0 auto;
}

.home-rent-logo {
  background-image: url(../images/home/home-logo-rent-md.png);
}

.home-sale-logo {
  background-image: url(../images/home/home-logo-sale-md.png);
}

.home-rent-image, .home-sale-image {
  width: 360px;
  height: 190px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 34px;
}

.home-rent-image {
  background-image: url(../images/home/rent-img-home.png);
}

.home-sale-image {
  background-image: url(../images/home/sale-img-home.png);
}

.home-arrow-open {
  margin-left: 13px;
  background-image: url(../images/home/right-arrow-home.png);
  background-repeat: no-repeat;
  width: 13px;
  height: 25px;
}

.home-continental, .home-bosch, .home-raiffeisen {
  background-repeat: no-repeat;
  width: 381px;
  height: 255px;
}

.home-continental {
  background-image: url(../images/home/continental.png);
}

.home-bosch {
  background-image: url(../images/home/bosch.png);
}

.home-raiffeisen {
  background-image: url(../images/home/raiffeisen.png);
}
