.short-term-single-car {
  p {
    font-size: 32px;
    font-weight: 800;
    color: $auth-font;
  }
  .price-list-price {
  }
  .price-list-car-name {
    font-size: 20px;
    font-weight: 700;
  }
  .price-list-text {
    font-size: 14px;
    font-weight: 400;
  }
}

.stpl-car-wrapper {
  display: flex;
  align-items: center;
  padding-top: 11px;
}

.stpl-car-img {
  background-image: url(../images/reservation/shortTermPriceList/car-1.png);
  background-repeat: no-repeat;
  float: left;
  width: 171px;
  height: 89px;
  overflow: hidden;
}
