.stpl-group-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  color: $lazur;
}

.stpl-container {
  margin-top: 23px;
  margin-bottom: 69px;
  padding-top: 11px;
  border-top: 1px dotted $light-gray;
  p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: $auth-font;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.stpl-border-wrapper {
  padding-bottom: 9px;
  border-bottom: 1px dotted $light-gray;
}
