.shot-term-price-list-container {
  padding: 30px 50px 51px;
  h1 {
    margin: 0 0 13px 0;
    font-size: 42px;
    font-weight: 700;
    color: $lazur;
  }
  p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: $auth-font;
    &:last-of-type {
      margin-bottom: 71px;
    }
  }
}
