.step-buttons {
  .step-buttons-wrapper {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    button {
      background-color: $light-gray;
      border: 0;
      transition: all 300ms ease-in-out;
      .button-text {
        font-size: 18px;
        font-weight: 700;
        color: $auth-font;
        text-transform: uppercase;
      }
      .back-arrow {
        display: inline-block;
        vertical-align: top;
        margin-right: 14px;
        width: 13px;
        height: 24px;
        background-image: url(../images/reservation/steps/back-arrow.png);
        background-repeat: no-repeat;
      }
      .next-arrow {
        display: inline-block;
        vertical-align: top;
        margin-left: 14px;
        width: 13px;
        height: 24px;
        background-image: url(../images/reservation/steps/next-arrow.png);
        background-repeat: no-repeat;
      }
      &:hover {
        background-color: $lazur;
        .button-text {
          color: $white;
        }
        .back-arrow {
          background-image: url(../images/reservation/steps/back-arrow-white.png);
        }
        .next-arrow {
          background-image: url(../images/reservation/steps/next-arrow-white.png);
        }
      }
    }
    .back-step {
      padding: 12px 45px 12px 10px;
    }
    .next-step {
      padding: 12px 10px 12px 73px;
    }
  }
}
