.reservation-steps-container {
  padding: 34px 50px 59px;
  // margin-top: 36px;
  .step-circles-container {
    margin-bottom: 90px;
    p {
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      color: $light-gray;
    }
    // border-top: 2px solid $light-gray;
    // position: relative;
    // &::after {
    //   content: " ";
    //   display: block;
    //   background: $light-gray;
    //   width: 8px;
    //   height: 8px;
    //   border-radius: 50%;
    //   position: absolute;
    //   top: -5px;
    //   right: -5px;
    // }
    // &::before {
    //   content: " ";
    //   display: block;
    //   background: $light-gray;
    //   width: 8px;
    //   height: 8px;
    //   border-radius: 50%;
    //   position: absolute;
    //   top: -5px;
    //   left: -4px;
    // }
  }
  .step-circle {
    margin: 0 auto 16px;
    // padding: 40.25px;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: $light-gray;
    // border: 20px solid #dfeafb;
    // &::after {
    //   content: " ";
    //   display: block;
    //   background: $light-gray;
    //   width: 8px;
    //   height: 8px;
    //   border-radius: 50%;
    //   position: absolute;
    //   top: -5px;
    //   right: -5px;
    // }

  }

}
