.step-5 {
  p {
    color: $auth-font;
    font-size: 15px;
    font-weight: 400;
    .step-5-bold {
      font-weight: 700;
    }
    .step-5-final-price {
      font-size: 42px;
      font-weight: 800;
    }
  }
  .step-5-bg-text {
    color: $lazur;
    font-size: 42px;
    font-weight: 700;
  }
  .step-5-row {
    margin: 0;
    padding: 18px 2px;
    border-bottom: 1px dotted $light-gray;
    &:first-of-type {
      border-top: 1px dotted $light-gray;
    }
  }
  .step-5-row-title {
    font-size: 18px;
    font-weight: 700;
    color: $lazur;
  }
  .step-5-car-name {
    display: inline;
    font-size: 26px;
    font-weight: 700;
  }
  .step-5-car-features {
    padding-top: 17px;
  }
  .step-5-car-img {
    margin-top: 5px;
    background-image: url(../images/reservation/steps/step-5-car.png);
    width: 255px;
    height: 170px;
  }
  .step-5-car-feature {
    width: 100%;
    height: 27px;
    padding-top: 2px;
    background-repeat: no-repeat;
    margin-bottom: 3px;
    span {
      margin-left: 30px;
    }
  }

  .step-5-automat {
    background-image: url(../images/reservation/steps/automat.png);

  }
  .step-5-person {
    background-image: url(../images/reservation/steps/person.png);

  }
  .step-5-gasoline {
    background-image: url(../images/reservation/steps/gasoline.png);

  }
  .step-5-door {
    background-image: url(../images/reservation/steps/door.png);

  }
  .step-5-suitcase {
    background-image: url(../images/reservation/steps/suitcase.png);

  }
}
