.step-2 {
  .step-2-bg-text {
    font-size: 42px;
    font-weight: 700;
    color: $lazur;
  }

  // Groups select styles

  .groups-select-conatiner {
    padding: 27px 57px;
    border-bottom: 1px dotted $light-gray;
    border-top: 1px dotted $light-gray;
    .groups-select-row {
      padding: 0;
      margin: 0 0 26px 0;
      &:last-of-type {
        margin: 0;
      }
    }
    .groups-select-car-class {
      padding-bottom: 3px;
      font-size: 16px;
      font-weight: 600;
      color: $lazur;
      text-align: center;
    }
    .groups-select-box {
      margin: 0 auto;
      width: 203px;
      height: 100%;
      cursor: pointer;
      &:hover {
        .groups-select-car-img {
          border: 2px solid $lazur;
        }
        .groups-select-car-class {
          color: $white;
          background-color: $lazur;
        }
      }
      .groups-select-car-img {
        margin: 0 auto;
        background-repeat: no-repeat;
        width: 203px;
        height: 103px;
      }
      .group-a {
        background-image: url('../images/reservation/steps/group-a.png');
      }
      .group-b {
        background-image: url('../images/reservation/steps/group-b.png');
      }
      .group-c {
        background-image: url('../images/reservation/steps/group-c.png');
      }
      .group-c-plus {
        background-image: url('../images/reservation/steps/group-c-plus.png');
      }
      .group-d {
        background-image: url('../images/reservation/steps/group-d.png');
      }
      .group-d-plus {
        background-image: url('../images/reservation/steps/group-d-plus.png');
      }
      .group-premium {
        background-image: url('../images/reservation/steps/group-premium.png');
      }
      .group-sport {
        background-image: url('../images/reservation/steps/group-sport.png');
      }
      .group-suv {
        background-image: url('../images/reservation/steps/group-suv.png');
      }
    }
  }

  .reservation-step-2-sidebar {
    .sidebar-container {
      padding: 52px 78px 0 0;
      input[type="checkbox"] {
        vertical-align: super;
      }
    }
  }

  .car-select-top-border {
    border-top: 1px dotted $gray;
  }

}
