.step-1 {
  .step-1-row {
    margin: 0;
    padding: 25px 0 22px;
    &:first-of-type {
      border-bottom: 1px dotted $light-gray;
    }
    &:last-of-type {
      padding-bottom: 15px;
    }
  }
  .step-1-container {
    border-top: 1px dotted $light-gray;
    border-bottom: 1px dotted $light-gray;
    padding: 8px 0 2px;
    margin: 0;
  }
  .step-1-bg-text {
    font-size: 42px;
    font-weight: 700;
    color: $lazur;
  }
  .step-1-md-text {
    font-size: 26px;
    font-weight: 700;
    color: $auth-font;
  }
  .step-1-sm-text {
    display: inline;
    font-size: 15px;
    font-weight: 600;
    color: $auth-font;
  }
  .step-1-date-icon, .step-1-time-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
  }
  .step-1-date-icon {
    background-image: url(../images/reservation/date.png);
  }
  .step-1-time-icon {
    background-image: url(../images/reservation/time.png);
  }
  button {
    float: right;
    margin: 0;
    padding: 0;
    width: 161px;
    height: 171px;
    background-color: $light-gray;
    border: 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: $auth-font;
    &:hover {
      color: $white;
      background-color: $lazur;
    }

  }
}
