.step-4 {
  .step-4-bg-text {
    font-size: 42px;
    font-weight: 700;
    color: $lazur;
  }
  .step-4-md-text {
    font-size: 18px;
    font-weight: 700;
    color: $lazur;
  }
  .step-4-checkbox {
    font-size: 16px;
    font-weight: 700;
    color: $auth-font;
  }
  .step-4-btn {
    width: 194px;
    height: 33px;
    font-size: 18px;
    font-weight: 700;
    color: $auth-font;
    background-color: $light-gray;
    border: 0;
    &:hover, &:active, &:focus {
      background-color: $lazur;
      color: $white;
    }
    &:first-of-type {
      margin-bottom: 7px;
    }
  }
  .step-4-row {
    margin: 0;
    border-bottom: 1px dotted $light-gray;
    padding: 28px 0 22px 11px;
    &:first-of-type {
      border-top: 1px dotted $light-gray;
    }
    &:last-of-type {
      margin-bottom: 22px;
    }
  }
  .step-4-checkbox-row {
    margin: 0;
    padding-bottom: 18px;
    border-bottom: 1px dotted $light-gray;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    input {
      padding-left: 12px;
      width: 402px;
      height: 34px;
      background-color: $auth-input;
      border: 1px solid $light-gray;
      margin-bottom: 6px;
      &:focus {
        border: 0;
        outline: 1px solid $lazur;
      }
    }
    .double-input {
      width: 192px;
      margin: 0;
      &:first-of-type {
        margin: 0 18px 6px 0;
      }
    }
    label {
      font-size: 15px;
      font-weight: 400;
      color: $auth-font;
      margin-right: 12px;
      }
    }
  label {
    cursor: pointer;
    input[type=checkbox] {
      display: none;
      // Insert the new checkbox
      + .step-4-checkbox:before {
        content: url(../images/reservation/steps/step-3-checkbox.png);
        margin:0 12px 0 0;
        width: 33px;
        height: 33px;
        vertical-align: middle;
        display: inline-block;
      }
      // When the checkbox is checked...

      &:checked + .step-4-checkbox:before {
        content: url(../images/reservation/steps/step-3-checkbox-blue.png);
      }
      // When the checkbox is disabled...

      &:disabled + .step-4-checkboxs {
        &:before {

        }

      }
    }
  }
}

// Company styles for step-4
