.step-3 {
  .step-3-checkboxes {
    display: inline-block;
  }
  .step-3-sm-text {
    display: inline;
    padding-top: 5px;
    float:right;
    font-size: 15px;
    font-weight: 400;
    color: $auth-font;
  }
  .step-3-bg-text {
    font-size: 42px;
    font-weight: 700;
    color: $lazur;
  }
  .step-3-row {
    margin: 0;
    padding: 10px 33px 3px 0;
    border-bottom: 1px dotted $light-gray;
    &:first-of-type {
      border-top: 1px dotted $light-gray;
    }
  }

  label {
    cursor: pointer;
    input[type=checkbox] {
      display: none;
      // Insert the new checkbox
      + .step-3-checkboxes:before {
        content: url(../images/reservation/steps/step-3-checkbox.png);
        margin:0 14px 0 0;
        width: 33px;
        height: 33px;
        vertical-align: middle;
        display: inline-block;
      }
      // When the checkbox is checked...

      &:checked + .step-3-checkboxes:before {
        content: url(../images/reservation/steps/step-3-checkbox-blue.png);
      }
      // When the checkbox is disabled...

      &:disabled + .step-3-checkboxes {
        &:before {

        }

      }
    }
  }

  span {
    font-size: 15px;
    font-weight: 400;
    color: $auth-font;
  }

}
