.ready-to-rent{
    margin-top:80px;
    .rent-text{
        float: right;
        display: block;
        overflow: hidden;
        margin-left: 85px;
        font-size:16px;
        font-weight: normal;
      }
    .rent-icon{
      background:url(../images/rent.png);
      margin-right:10px;
      width:75px;
      height:75px;
    }
  }
@media only screen and (max-width: $screen-sm-max) {
  .ready-to-rent{
     margin-top:0px;

    .rent-text{
      margin-top: 15px;
    }
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .ready-to-rent{
     margin-top:0px;
     
    .rent-text{
      margin-top: 15px;
      margin-left:0;
      text-align: center;
    }
    .rent-icon{
      margin:0 auto;
    }
  }
}
