.table-two-col-component{
  .table-row{
    &:nth-child(odd){
      background:#eaeaea;  
    }
  }
  .title{
    font-size:16px;
  }
  .value{
    font-size:16px;
    font-weight: bold;
  }
}
.revers{
  .table-two-col-component{
    .table-row{
      &:nth-child(even){
        background:$auth-input;  
      }
      &:nth-child(odd){
        background:$white;  
      }
    }
  }
}