.badge-price-component{
  background:#fe5652;
  color:#fff;
  padding:10px 15px 40px 15px;

  .price-with-currency{
      margin-top:35px;
  }
  .price{
    font-size:60px;
  }
  .currency{
    font-size:24px;
  }

  .localization{
    border-top:1px solid #fff;
    padding-top:21px;
    .icon{
      display: inline-block;
      width:21px;
      height:28px;
      margin-right:10px;
      background:url(../images/localization.png);
      position: relative;
      top: 7px;
      margin-top: -17px;
    }
    .localization-title{
      font-weight: bold;
      display: inline-block;
    }
    .localization-info{
      display: block;
      line-height: 17px;
      margin: 5px 0 0 35px;
    }
  }
}
@media only screen and (max-width: $screen-sm-max) {
  .badge-price-component{
    padding:10px 15px 70px 15px;
  }
}
@media only screen and (max-width: $screen-xs-max) {
  .badge-price-component{
    padding:10px 15px 10px 15px;

    .price{
      font-size:50px;
    }
      .price-with-currency{
        margin-top:15px;
    }
    .localization-title{
      font-size:18px;
    }
  }
}