.carSlider{
  .slide{
    background-size:cover;
    width:100%;
    padding-bottom:75%;
  }
  ul{
    display: block;
    margin: 18px 0 0 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
  }
  li{
    list-style: none;
    margin:0 9px;
    display: inline-block;

    button{
      border-radius:50%;
      border: 0px;
      width:9px;
      height:9px;
      padding:0px;
      background: #8a8b8e;
      text-indent: -99999px;
    }
  }
  li.slick-active{
    button{
      background: #fe5652;
    }
  }
}