
.car{
  position:relative;
  padding:12px 0;
  border-top:1px dotted #8a8b8e;
  cursor: pointer;
  a{
    color:#333333;
  }
  h3{
    font-size:32px;
    font-weight: bold;
    margin-bottom: 17px;
  }
  .observed{
    position: absolute;
    top: 20px;
    right: 0px;
  }
  .photo{
    width:100%;
    height:170px;
    background:no-repeat;
    background-size:cover;  
  }
  .badgePrice{
    background:#fe5652;
    color:#fff;

    margin: 0 -15px;
    padding: 0 15px;

    .price{
      font-size:40px;
    }
    .currency{
      font-size:19px;
    }
  }
  .details{
    position: absolute;
    bottom: 12px;
    left: 15.66667%;
  }

  .hover{
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 0px;
    z-index: -1; 
    padding: 0px;    
    &::after{
      display:block;
      content:"";
      background:#eaeaea;
      width:100%;
      height:100%;
      opacity:0;
      transition: opacity 300ms ease-in-out;
    }
  }
  &:hover .hover::after{
    opacity:1;
  }

  .margin-top{
    margin-top:7px;
  }
}

@media only screen and (max-width: $screen-sm-max) {
    .car{
      h3{
        margin-top:0;
      }
      .details{
        position: relative;
        bottom: 0;
        left: 0;
      }
      .badgePrice{
        height:170px;
        margin: 0 0 0 -20px;
        padding: 0 0 0 15px;

        .priceWithCurrency{
          position: absolute;
          bottom: 0;
        }
      }
      .observed{
        right: 15px;
      }
    }
}
@media only screen and (max-width: $screen-xs-max) {
    .car{
      .badgePrice{
        height:auto;
        margin:8px 0 10px 0;
        padding:0 15px;

        .priceWithCurrency{
          position: relative;
          float:left;
        }
        .text-left{
          float:left;
        }
      }
    }
}