p {
  margin: 0;
}

.content-container {
  padding: 0;
  margin: 30px 0 0 0;
}

.content-car {
  background-image:url(../images/car-content.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 0;
  padding: 45.35% 0 0 0;
  margin: 0;
}

.content-car-description {
  padding: 29px 86px 35px 49px;
  color: #55575b;
  font-size: 26px;
  font-weight: 300;
}

/* Extra small devices (phones, less than 768px)*/

@media (max-width: $screen-xs-min) {
  .content-container {
    margin-top: 0;
  }

  .content-car-logo {
    background-image:url(../images/car-content-logo-xs.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 287px;
    height: 30px;
    margin: 29px auto 19px;
    padding: 0;
  }

  .content-car {
    background-image:url(../images/mobile-car-content.png);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 177px;
    padding: 0;
    margin: 0;
  }

  .content-car-description {
    padding: 22px 17px 29px;
    font-size: 24px;
  }

}

/* Small devices (tablets, 768px and up*/

@media (min-width: $screen-xs-min) and (max-width: $screen-md-min) {

  .content-car {
    background-image:url(../images/tablet-car-content.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 425px;
    padding: 0;
    margin: 0;
  }

  .content-car-description {
    padding: 20px 41px 40px 35px;
    color: #55575b;
    font-size: 24px;
  }

}

/* Medium devices (desktops, 992px and up)*/

@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {

  }

/* Large devices (large desktops, 1200px and up)*/

@media (min-width: $screen-lg-min) {

  }
