p {
  margin: 0;
}

.custom-footer-gray {
  background-color: $light-gray;
  width: 100%;
  height: 13px;

}

.custom-footer-dark {
  background-color: $search_bg;
  width: 100%;
  height: 50px;
}

.footer-text {
  padding: 10px 0 18px 50px;
  color: $white;
  font-size: 14px;
  font-weight: 400;
}

/* Extra small devices (phones, less than 768px)*/

@media (max-width: $screen-xs-min) {

  .footer-text {
    padding: 16px 17px;
    font-size: 16px;
    text-align: center;
  }

}

/* Small devices (tablets, 768px and up*/

@media (min-width: $screen-xs-min) and (max-width: $screen-md-min) {

  .footer-text {
    padding: 16px 36px;
    font-size: 17px;
  }

}

/* Medium devices (desktops, 992px and up)*/

@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {

  }

/* Large devices (large desktops, 1200px and up)*/

@media (min-width: $screen-lg-min) {

  }
