// Main settings

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    color: $white;
    font-size: 16px;
    font-weight: 400;
  }


.user-styles {
  margin-left: 45px;
  color: $red;
}

// Container settings

.nav-container {
  background: $search_bg;
  margin: 0;
  padding: 29px 50px;
  max-width: 100%;
}

.sub-nav-container {
  background: $light-gray;
  margin: 0;
  margin-bottom: 29px;
  padding: 0 50px;
  max-width: 100%;
  a {
    display: inline-block;
    padding: 10px 23px 10px 21px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    transition: all 300ms ease-in-out;
    &:hover, &:active, &:focus {
      text-decoration: none;
      color: $dark-font;
      background-color: $white;
      .path-path {
        background-image:url(../images/path-path-red.png);
      }
    }
  }
}
}

// Navbar list styles

.navbar-list, .sub-navbar-list {
  float: right;
}

.language-styles {
  display: inline-block;
  margin-left: 83px;
  color: $white;
  font-size: 14px;
  text-transform: uppercase;
}

// Images

.logo {
  background-image:url(../images/logo.png);
  background-size: contain;
  width:473px;
  height:33px;
  float: left;
}

.star-active {
  margin:0 6px;
  vertical-align: bottom;
  background-image:url(../images/star-active.png);
  background-size:cover;
  width:28px;
  height:27px;
}
.path {
  display: inline-block;
  margin-left: 6px;
  background-image:url(../images/path.png);
  background-size:cover;
  width:11px;
  height:10px;
}

.path-path {
  display: inline-block;
  margin-right: 6px;
  vertical-align: bottom;
  background-image:url(../images/path-path.png);
  background-size:cover;
  width:18px;
  height:18px;
}

/* Extra small devices (phones, less than 768px)*/

@media (max-width: $screen-xs-min) {

  // Container settings

  .nav-container {
    padding: 13px 11px 15px;
    margin-bottom: 20px;
  }

  // Images

  .logo {
    background-image:url(../images/logo-mobile.png);
    width:196px;
    height:35px;
  }

  .hamburger {
    background-image:url(../images/button-menu.png);
    background-size: contain;
    width: 31px;
    height: 30px;
    float: right;
  }

}

/* Small devices (tablets, 768px and up*/

@media (min-width: $screen-xs-min) and (max-width: $screen-md-min) {

  // Main settings

  nav {
    li {
      font-size: 18px;
    }

    a {
      padding-right: 27px;
      font-size: 16px;
    }
  }

  .user-styles {
    margin-left: 44px;
  }

  // Container settings

  .nav-container {
    padding: 23px 19px;
    border-bottom: 2px solid $white;
  }

  .sub-nav-container {
    margin-bottom: 30px;
    padding: 14px 48px 14px 19px;
  }

  .tablet-nav-container {
    padding: 17px 19px;
    background: $search_bg;
    margin: 0;
  }

  // Navbar list styles

  .last-child-padding {
    padding-right: 77px;
  }

  .language-styles {
    font-size: 16px;
  }

  // Images

  .logo {
    background-image:url(../images/logo-tablet.png);
    width:503px;
    height:34px;
  }

  .star-active {
    margin:0 6px;
    width:33px;
    height:32px;
  }
  .path {
    margin-left: 6px;
    width:11px;
    height:10px;
  }

  .path-path {
    margin-right: 8px;
    width:21px;
    height:22px;
  }

}

/* Medium devices (desktops, 992px and up)*/

@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {

  }

/* Large devices (large desktops, 1200px and up)*/

@media (min-width: $screen-lg-min) {

  }
