.observed{
  .star{
    background-image:url(../images/star-deactive.png);
    background-size:cover;
    width:37px;
    height:35px;
  }
  .acitve{
    background-image:url(../images/star-active.png);
  }
}