.pagination{
  margin:60px 0;

  li{
    a{
      width:36px;
      height:36px;
      background:#bfc0c1;
      border:0px;
      margin:0 7px;
      font-size:18px;
      font-weight: bold;
      line-height: 24px;
      color:#55575b;
      border-radius:0 !important;
      &:hover{
          background:#fe5652 !important;
      }
    }
    &.active{
      a{
        background:#fe5652;
      }
    }
  }
}
.paginationNav{
  text-align: center;
}
@media only screen and (max-width: $screen-sm-max) {
  .pagination{
    li{
      a{
        width:42px;
        height:42px;
        margin:0 15px;
        line-height: 27px;

      }
    }
  }
}
@media only screen and (max-width: $screen-xs-max) {
  .pagination{
    margin:40px 0;
    li{
      a{
        width:42px;
        height:42px;
        margin:0 10px 10px 10px;
        line-height: 27px;

      }
    }
  }
}