/* @import './variables';*/
.search {
  background-color: $search_bg;
  .search-container {
    padding: 34px 50px 46px;
  }
  .form-control-custom {
    &:focus {
      outline: 1px solid $red;
      border: 0;
      box-shadow: none;
    }
  }
  button {
    transition: all 300ms ease-in-out;
    &:hover {
      background-color: $red;
      color: $white;
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }
  label {
    cursor: pointer;
    input[type=checkbox] {
      display: none;
      // Insert the new checkbox
      + .checkbox-sm {
        background-image: url(../images/checkbox-bg.png);
        width: 23px;
        height: 23px;
        vertical-align: middle;
        display: inline-block;
        margin: 0 6px 0 0;
      }
      // When the checkbox is checked...
      &:checked + .checkbox-sm {
        display: inline-block;
        background-image: url(../images/checkbox-red.png);
      }
    }
  }
  // Forms checkboxes and labels

  .checkbox-lg-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 2px 0 0 100px;
  }

  .lg-checkbox {
    display: flex;
    label {
      cursor: pointer;
      input[type=checkbox] {
        display: none;
        // Insert the new checkbox
        + .checkbox-sm {
          background-image: url(../images/checkbox-bg-lg.png);
          width: 29px;
          height: 29px;
          vertical-align: middle;
          display: inline-block;
          margin: 0 8px 0 0;
        }
        // When the checkbox is checked...
        &:checked + .checkbox-sm {
          display: inline-block;
          background-image: url(../images/checkbox-red-lg.png);
        }
      }
    }
    span {
      color: $white;
      font-size: 20px;
      font-weight: 400;
    }
  }

  .checkbox-label-sm {
    color: $white;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }

  .form-group-color {
    color: $white;
    font-size: 18px;
    font-weight: 700;
  }

  .double-form {
    width: 49% !important;
    margin-right: 1%;

  }

  .single-label {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }

  .double-label {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }

  .form-control-custom {
    background-color: $search_bg;
    height: 34px;
    border:1px solid $gray;
    border-radius: 3%;
    color: $light-gray;
    font-size: 14px;
  }

  ::-webkit-input-placeholder { /* Chrome */
    color: $light-gray;
    font-size: 14px;
    opacity: 1;
  }

  // Buttons

  .btn-custom {
    width: 100%;
    color: $white;
    background-color: $gray;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    border-radius: 1%;
  }

  .btn-custom-regular {
    margin-top: 27px;
    padding: 9px 10px;;
  }

  .btn-custom-medium {
    padding: 8px 10px 10px;
  }

  .btn-end-custom {
    margin: 0;
    padding: 14px 0px 13px 0px;
    background-color: $light-gray;
    color: $dark-font;
    font-size: 17px;
  }


  // Clear and position options

  .space {
    margin: 35px 0 0;
  }
  .space-collapse{
    margin:0;
  }

  .clear-bs {
    margin: 0;
    padding: 0;
  }

  .clear-margin {
    margin: 0;
  }

  .clear-padding {
    padding: 0;
  }

  .clear-side-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .clear-lp {
    padding-left: 0;
  }

  .clear-rp {
    padding-right: 0;
  }

  .extra-margin-left {
    margin-left: 20px;
  }

  .custom-position {
    padding-top: 7px;
  }

  .btn-position {
    position: absolute;
    top: 117px;
  }

  // Grid options

  .col-md-4-search {
    padding-right: 50px;
  }

  .col-md-5-search {
    padding-left: 50px;
  }

  .col-md-float-right {
    float: right;
  }

  // Borders

  .search-dotted-border {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted $gray;
  }

  .search-dotted-border-long {
    margin-top: 10px;
    border-bottom: 2px dotted $gray;
  }

  // Headings and paragraphs

  .search-title {
    color: $red;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  .extra-options {
    padding-bottom: 4px;
    margin-bottom: 10px;
    color: $white;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px dotted $gray;
  }

  .extra-options-small {
    color: $white;
    font-size: 16px;
    font-weight: 400;
  }


  .end-search-result {
    float: right;
    padding-top: 6px;
    font-size: 16px;
    font-weight: 700;
    color: $white;
  }

  // Othres

  .custom-label {
    padding: 8px 32px;
    background-color: $red;
    color: $white;
    font-size: 28px;
    font-weight: 700;
  }
}




/* Extra small devices (phones, less than 768px)*/

@media (max-width: $screen-xs-min) {
  .search-container {
    margin-left: 17px !important;
    margin-right: 17px !important;
  }

  .search-title {
    font-size: 32px;
    font-weight: 700;
    padding-top: 19px;
  }

  .top-checkbox-position {
    float: none;
  }

  .checkbox-label {
    font-size: 24px;
    margin: 0;
  }

  .checkbox-label span {
    margin-left: 32px;
    vertical-align: middle;
  }

  .large-checkbox {
    margin: 0 20px 19px 0;
    padding: 0;
    display: block;
    width: 43px;
    height: 43px;
  }

  .double-form {
    display: inline;
  }

  .col-md-4-search {
    padding-right: 20px;
  }

  .col-md-5-search {
    padding-left: 20px;
    padding-top: 39px;
  }

  .col-md-float-right {
    float: none;
  }

  .rwd {
    padding-left: 0;
    padding-right: 0;
    margin-left: 17px;
    margin-right: 17px;
  }

  .rwd-xs {
    margin-left: 0;
    margin-right: 0;
  }

  .btn-position {
    margin-top: 14px;
    margin-bottom: 33px;
  }

  .custom-checkbox-medium {
    width: 37px;
    height: 37px;
  }

  .checkbox-label-medium span {
    font-size: 20px;
  }

  .single-label {
    font-size: 22px;
    font-weight: 700;
    line-height: 39px;
  }

  .double-label {
    display: block;
    font-size: 22px;
    font-weight: 700;
    line-height: 39px;
  }

  .extra-options {
    font-size: 22px;
    font-weight: 700;
  }

  .checkbox-label-medium span {
    font-size: 20px;
  }

  .extra-options-small {
    font-size: 20px;
  }

  .btn-custom {
    font-size: 20px;
  }

  .form-control-custom {
    height: 51px;
  }

  .custom-label {
    display: block;
    font-size: 34px;
    text-align: center;
  }

  .btn-end-custom {
    padding: 19px 10px 18px 10px;
    font-size: 24px;
  }

  .btn-end-custom-2 {
    padding: 13px 56px 15px 57px;
    font-size: 24px;

  }

  .end-search-result {
    font-size: 20px;
    margin-top: 22px;
    text-align: center;
  }

  .col-md-15-custom {
    margin-top: 33px;
  }

  .btn-last-custom {
    margin-top: 19px;
  }

}

/* Small devices (tablets, 768px and up*/

@media (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
  .search-container {
    margin-left: 35px !important;
    margin-right: 35px !important;
  }

  .space {
    margin: 39px 0 0;
  }

  .space-collapse{
    margin:0;
  }

  .space-sm {
    padding-top: 70px;
  }

  .clear-sm-space {
    margin: 0;
  }

  .search-title {
    font-size: 48px;
    padding-top: 30px;
  }

  .col-md-6-checkbox {
    display: inline-flex;
  }

  .checkbox-label {
    font-size: 24px;
    margin: 0;
  }

  .checkbox-label span {
    margin-right: 40px;
    margin-left: 32px;
    vertical-align: sub;
  }

  .large-checkbox {
    padding-left: 20px;
    width: 43px;
    height: 43px;
  }

  .btn-tablet {
    float: right;
    width: 50%;
  }

  .col-md-float-right {
    float: none;
  }

  .rwd {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .btn-position {
    margin-top: 14px;
    margin-bottom: 33px;
  }

  .custom-checkbox-medium {
    width: 37px;
    height: 37px;
  }

  .checkbox-label-medium span {
    font-size: 24px;
  }

  .single-label {
    font-size: 22px;
    font-weight: 700;
    line-height: 39px;
  }

  .double-label {
    display: block;
    font-size: 22px;
    font-weight: 700;
    line-height: 39px;
  }

  .extra-options {
    font-size: 22px;
    font-weight: 700;
  }

  .checkbox-label-medium span {
    font-size: 20px;
  }

  .extra-options-small {
    font-size: 20px;
  }

  .btn-custom {
    font-size: 22px;
  }

  .form-control-custom {
    height: 52px;
  }

  .custom-label {
    display: inline;
    float: right;
    padding: 13px 34px 11px 20px;
    font-size: 34px;
  }

  .btn-end-custom {
    font-size: 18px;
    padding: 20px 29px 17px 30px;
  }

  .btn-end-custom-2 {
    padding: 13px 81px 15px 82px;
    font-size: 24px;

  }

  .btn-spacing {
    margin-right: 10px;
  }

  .custom-position {
    margin-bottom: 19px;
  }

  .end-search-result {
    margin: 0;
    padding-top: 20px;
    font-size: 20px;
    text-align: right;
  }

  .col-md-15-custom {
    margin-top: 104px;
  }

}

/* Medium devices (desktops, 992px and up)*/

@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {

  }

/* Large devices (large desktops, 1200px and up)*/

@media (min-width: $screen-lg-min) {

  }
