.send-message{
    margin-top:15px;
    padding:9px 0px 9px 15px;
    color:#55575b;
    background:#bfc0c1;
    cursor:pointer;
    transition: background 300ms ease-in-out;
    &.active{
      color:#fff; 
      background:#fe5652;
    }
  }
  .send-message-form{
    background:#eaeaea;
    border:1px solid #fe5652;
    padding:0 15px 15px 15px;
    .form-input{
      label{
        margin-top:15px;
        width:100%;
        font-size:14px;
        display: block;
      }
      input,textarea{
        padding:0 10px;
        width:100%;    
        outline: 0;
        border: 1px solid #bfc0c1;
      }
      textarea{
        height:120px;
      }
      button{
        width:100%;
        background:#bfc0c1;
        border:0;
        text-transform: uppercase;
        font-size:14px;
        padding:7px 0;
        transition: background 300ms ease-in-out;

        &:hover{
          color:#ffffff;
          background:#fe5652;
        }
      }
    }
  }