.slider{
  .slide{
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 0;
    padding: 45.35% 0 0 0;
  }
  ul{
    display: block;
    margin: 18px 0 18px 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
  }
  li{
    list-style: none;
    margin:0 11px;
    display: inline-block;

    button{
      border-radius:50%;
      border: 0px;
      width:9px;
      height:9px;
      padding:0px;
      background: $gray;
      text-indent: -99999px;
    }
  }
  li.slick-active{
    button{
      background: $search_bg;
      border: 7px solid $light-gray;
      box-sizing: content-box;
      position: relative;
      outline: none;
      &::after {
        content: " ";
        position: absolute;
        display: block;
        border: 2px solid $white;
        width: 100%;
        height: 100%;
        top: -2px;
        left: -2px;
        border-radius: 50%;
        box-sizing: content-box;
      }
    }
  }
}

/* Extra small devices (phones, less than 768px)*/

@media (max-width: $screen-xs-min) {
  .slider{
    .slide{
      background-repeat: no-repeat;
      background-position: center center;
      height: 420px;
    }
    ul{
      margin: 14px 0 36px 0;
    }
    li{
      margin:0 11px;
    }
    }
  }


/* Small devices (tablets, 768px and up*/

@media (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
  .slider{
    .slide{
      background-repeat: no-repeat;
      height: 501px;
    }
    ul{
      margin: 13px 0 36px 0;
    }
    li{
      margin:0 11px;
    }
  }
}

/* Medium devices (desktops, 992px and up)*/

@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {

  }

/* Large devices (large desktops, 1200px and up)*/

@media (min-width: $screen-lg-min) {

  }
