.sort{
  font-weight: bold;
  font-size:16px;
  
  .sort-buttons{
    position: relative;
    top: 6px;
    display: inline-block;
    
    div{
      width:20px;
      height:20px;
      cursor:pointer;
      background:#bfc0c1;
      float:left;
      margin-left:5px;
      
      &::after{
        display: block;
        content:"";
        width: 0; 
        height: 0;
        margin: 0 auto;
        position: relative;
        top:5px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }

      &.up::after{
        border-bottom: 9px solid #8a8b8e;
      }

      &.down::after{
        border-top: 9px solid #8a8b8e;
      }


      &.active{
        background:#fe5652;

        &.up::after{
          border-bottom: 9px solid #fff;
        }

        &.down::after{
          border-top: 9px solid #fff;
        }
      }


    }
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .sort{ 
    font-size:18px;
    .sort-buttons{   
      width:100%;
      div{
        width:40px;
        height:40px;
        margin-left:0px;
        &.down{
          margin-left:30px;
        }
        &::after{
          top:11px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
        }

        &.up::after{
          border-bottom: 18px solid #8a8b8e;
        }

        &.down::after{
          border-top: 18px solid #8a8b8e;
        }


        &.active{
          background:#fe5652;

          &.up::after{
            border-bottom: 18px solid #fff;
          }

          &.down::after{
            border-top: 18px solid #fff;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: $screen-xs-max) {
  .sort{ 
    height:60px;
    border-top: 1px dotted #8a8b8e;
    .text{
      position: relative;
      top: 16px;
    }

    .sort-buttons{   
      top:9px;
      width:auto;
      float:right;
    }
  }
}